[2015-06-01 21:29] amcdnl opened #1 "[FEAT] Time picker"
A time picker that could be integrated would be awesome.

[2015-06-03 08:58] alenaksu opened #2 "add bower support"
Create bower.json file so that the project can be installed using bower

[2015-06-23 11:02] #2 closed

[2015-06-29 18:18] JuanELo-O opened #3 "Enhancement: dynamic year selector"
Hi!

I need define a year before 1970, but I can see that in the array of years it's defined since 1970.

Thanks! :)

[2015-06-30 09:12] alenaksu commented on #3
Hi, I have changed the year range, now it starts from 1900.

A better implementation of the selector will come as soon as the next version of Angular Material will be released.

[2015-06-30 13:31] JuanELo-O commented on #3
Ok, thanks for your time :)

[2015-07-24 11:30] Garfi74 opened #6 "Commit the tags"
Hello,

Please, could you commit and push the tag each time you make a new release in order to add the version to bower ? Because, for now, when you do "bower info mdPickers", the result is "No versions available".

Thanx

[2015-07-24 12:06] alenaksu commented on #6
Hi,
I've just created the tag for the current version 0.3.0.

[2015-07-24 12:08] Garfi74 commented on #6
Thanks, it works !

[2015-07-24 12:08] #6 closed

[2015-08-13 11:49] tramonex-dbardaji opened #7 "Install a different version of angular!"
All time I'm doing bower install is adding me an other angular link!
I think it's because you wrote in dependencies "angularjs" instead "angular".

Can you confirm this? Thanks

[2015-08-13 11:50] tramonex-dbardaji commented on #7
Yes, I change the name and it's working properly.

[2015-08-13 12:00] alenaksu commented on #7
Yes, I confirm.
I've just replaced it with the correct dependency.

Let me know if it's ok now

[2015-08-19 08:00] Soulcyber opened #8 "Cancel and OK label are not localizable"
Hi, maybe a new function to set these 2 label without go in the code and change them manually?
(and prevent us to update the labels everytime we update the picker javascript)

something like
[code]

What do you think?

Thanks
Mat

[2015-09-07 14:31] nbartley opened #9 "Rename CSS file to not conflict with Angular-Material 11 series"
Angular Material Main is now using md-datepicker as a css naming structure. It makes the buttons area disappear due to an opacity css setting in official. A quick rename and it's okay again.

[2015-09-09 07:35] #7 closed

[2015-09-09 23:04] edimitchel commented on #9
I confirm this ! Please modify classes..

[2015-09-09 23:08] edimitchel opened #12 "Another way to open datepicker"
Hello,
can you make that pickers can be open on focus of a input ? I know I can do it with `ng-focus="openPicker()"` but the problem is that when I select date, the picker opens again (triggered by focus on input)..

Hope that you will fix/upgrade my suggestion.

[2015-09-10 09:27] alenaksu commented on #12
Hi,
did you try the mdDatePicker directive?

[code]

[2015-09-10 16:01] #8 closed

[2015-09-10 16:02] #9 closed

[2015-09-11 19:22] nestorbritez opened #13 "Material Design"
The styles are different from Google Design's specification

![Datepicker](https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0B3321sZLoP_Hamc5d1k2SmhlV2c/components_pickers_date3.png)

https://www.google.com/design/spec/components/pickers.html#pickers-date-pickers

[2015-09-30 14:15] dcoferraz opened #14 "Formatting date to DD/MM/YYYY"
How could I show this date format in my `<input type="date"> </input>`?

[2015-09-30 14:24] alenaksu commented on #14
As far as I know, there is no way to change the format of the HTML5 date input. It depends on browser selected language.

[2015-09-30 16:29] dcoferraz commented on #14
Yeah... Indeed @alenaksu, `<input type="date"> </input>` needs a date on ISO format.

The workaround that I had to use was formatting the date with moment.js and setting it to a `<input type="text"> </input>`.

Wouldn't this be a good feature to implement? The formatting of dates in any format?

Thinking of something like this: http://momentjs.com/

[2015-10-23 00:20] dantedubon opened #15 "IE 11 support"
Hi, I was looking if this directive works with IE11. I tried the code pen with the example, but I notice that the calendar is not displayed as in Chrome when the user clicks the control.

[2015-11-21 20:51] parthdhoot opened #17 "filter specific dates in date picker"
I could not find any documentation for filtering specific dates in the picker. How to do it?

[2015-11-28 23:05] swavekl opened #18 "Previous and next month buttons not painted correctly."
Hi I just switched to using your date picker and it works nicely except for the prev/next buttons.  They show as CHE. I assume the component can't locate the chevron left and right icons.  I am using the angular-material-icons component which defines the icons as SVG paths.

Should I be loading these two icons separately?

Also if you could specify the format of the text which shows the date in th

[2015-11-29 12:58] alenaksu commented on #18
Hi, did you try to follow these instructions? http://google.github.io/material-design-icons/#icon-font-for-the-web
What you have to do is to include the offical Material Icons web font.

The date format is restricted to browser default format. I think you can easly work around this using the $mdDatePicker service with an input text field.

[2015-11-29 18:35] swavekl commented on #18
No I wasn't aware of this font.  I only followed your instructions from the Git code page.  I included the icons font like this and it worked.

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"></head>

Thank you.

[2015-11-29 18:35] #18 closed

[2015-12-23 12:54] ganySA opened #19 "timepicker coming anytime soon ? *hopeful*... :D"

[2015-12-23 13:33] alenaksu commented on #19
I know... :)
I started to work on it yesterday as I was a bit busy in the meantime.
You can check any updates on the v0.5.0 branch.

[2015-12-23 13:34] alenaksu commented on #17
At the moment there's not such feature

[2015-12-23 16:46] #1 closed

[2015-12-23 16:46] #3 closed

[2015-12-23 16:46] #13 closed

[2015-12-23 16:46] #19 closed

[2015-12-23 16:49] alenaksu commented on #19
Version 0.5.0 is now available :)

[2015-12-24 13:32] alenaksu opened #20 "feat(datepicker): add min/max date"

[2015-12-24 13:33] #12 closed

[2015-12-24 13:35] alenaksu commented on #15
Hi, a new version is online. Do you still have problems?

[2015-12-28 03:10] Nathalielim opened #21 "IE version"
Hi,
The code works in Chrome, but not in IE9. Which IE version is supported?

[2015-12-28 09:08] alenaksu commented on #21
From Angular Material README:

Current version is IE11, so I think it works well IE11 and IE10, not IE9.

[2016-01-19 11:27] simonered opened #23 "Wrong day"
The date is one day earlier than selected

[2016-01-19 11:31] alenaksu commented on #23
Can you replicate the issue on codepen, jsfiddle or elsewhere?

[2016-01-19 11:39] #21 closed

[2016-01-19 11:59] simonered commented on #23
[Here] (http://codepen.io/simonered/pen/GoOQmY) it is.

[2016-01-19 12:16] alenaksu commented on #23
If you display the date in iso format, it will be displayed with the current timezone.
For instance, if your timezone is -0100, you will see something like 2016-01-18T**23**:00:00.000Z.

What day the __getDate__ method returns?

[2016-01-19 15:03] simonered commented on #23
You're absolutely right...my mistake.

[2016-01-19 15:04] #23 closed

[2016-01-28 17:46] soniram opened #24 "Styling issues"
Hi and thanks for sharing your beautiful calendar !
As you can see, without any modifications, the styling has a lot of minor glitches compared to the demos (year and day names are too small, dates have an oval background,.. ). Any idea of what I'm doing wrong or missing ?

![image](https://cloud.githubusercontent.com/assets/12727585/12653042/56ceee84-c5f6-11e5-94cf-aa0c5a231751.png)

[2016-01-29 08:54] alenaksu commented on #24
Hi!
First of all, I guess you forgot to include the [material icon font](https://google.github.io/material-design-icons/#icon-font-for-the-web) and that's why you don't see the next and prev buttons.

Can you tell me what version of Angular Material are you using?
I had a similar issue in the past that was resolved upgrading Angular Material dependency.

[2016-01-29 09:41] soniram commented on #24
Thanks for replying :)
- I know about the missing material icon font, that's why I didn't mention it.
- The screenshot was taken with version 1.0.1
- I tested it with the current version (1.0.4) with no lack

[2016-01-29 10:16] alenaksu commented on #24
Can you recreate the issue on Codepen?

[2016-01-29 10:51] soniram commented on #24
Very difficult. I'm using an angular material theme named triangular that is huge and copyrighted, not to mention that I have no experience with Codepen (but this is not real problem..). Is there any simple example of yours, on github that could be used for guiding ?

[2016-01-29 13:47] alenaksu commented on #24
I'm sorry, I don't have any example on github. The only one is the demo on Codepen.
In which order are you referenced the styles?
I'm pretty sure that if you put Angular Material before mdPickers this could generate the issue.

[2016-01-29 13:54] soniram commented on #24
I'm most sure that this is the case. I'll check it and post back.
Thanks for your help !!!

[2016-01-29 14:18] soniram commented on #24
In my case, placing mdPickers css last, fixed dates oval appearance.
It's css conflict for sure. :)
I think that I have to start css overrides. Any directions based on the attached screenshot are welcomed :)
Thanks, once more, for your concern and help

[2016-02-01 10:08] alenaksu commented on #24
You're welcome :)

[2016-02-01 10:08] #24 closed

[2016-02-01 15:14] saikarthikj opened #25 "Is it possiable to add min/max in timepicker to this module"

[2016-02-03 11:22] alenaksu commented on #25
Hi, this feature is not implemented yet.

[2016-02-16 20:15] holly-weisser opened #27 "TimePicker -- Add ability to drag minute hand"
Currently, you have to click where you want the minute hand to go, which makes any minute that doesn't correspond to a number on the clock face a bit harder to get to.

[2016-02-17 08:46] alenaksu commented on #27
Hi, this function is already implemented, try to drage the line

[2016-02-17 13:05] holly-weisser commented on #27
I would think the drag handle would be the larger dot at the end of the minute hand, rather than the slim line.

[2016-02-17 14:43] alenaksu commented on #27
Improved on new release

[2016-02-17 14:43] #27 closed

[2016-02-17 16:06] holly-weisser commented on #27
Looks/works great, thank you so much!

[2016-02-17 19:20] corentin-gautier opened #31 "Add an option to switch to the minutes selector once the hour has been picked"
same behaviour as the android alarm app

[2016-02-17 19:24] corentin-gautier opened #32 "24h format"
Like that :
![24h](http://3.bp.blogspot.com/-SK2ljlhHiCU/UaiEjF1lhGI/AAAAAAABJqs/0uWv7oMxdG4/s640/android-calendar-time-control-1.png)

[2016-02-17 23:39] piyushchauhan2011 opened #34 "Combining Date Picker with Time Picker"
I think that we can combine date picker with time picker and can have the time fields below the date fields on left hand side in date picker and change the view to time picker view one when someone clicks on those fields. @alenaksu

Let me know about the idea :sunglasses:

[2016-02-18 09:47] leocaseiro commented on #31
:+1:  Like the demo on http://www.google.com/design/spec/components/pickers.html#pickers-time-pickers

[2016-02-18 09:53] alenaksu commented on #25
#20

[2016-02-18 09:55] #25 closed

[2016-02-18 09:56] #15 closed

[2016-02-18 22:27] rvarbanov opened #35 "Would it be possible to make the time picker work with input type time?"
I would like to be able to use your time picker with an input time filed. Just like you have the date on the demo.

[2016-02-18 23:01] leocaseiro commented on #35
@rvarbanov it works fine with a time input. I added it to the CodePen demo and you'll see it works just fine:

[code]

http://codepen.io/anon/pen/jWoVdp

[2016-02-19 08:50] alenaksu commented on #35
@rvarbanov @leocaseiro
There's a directive for that, but I forgot to add it to the demo :)

Here is an example:
[code]

[2016-02-19 15:08] rvarbanov commented on #35
Awesome!

The Angular Material folks should just merge your picker in their code :smiley:

[2016-02-23 23:13] leocaseiro commented on #31
How about accept the pull request #33 ?

[2016-02-25 13:47] abcNocturn commented on #32
+1

[2016-02-28 20:19] ClaudenirFreitas commented on #32
+1

[2016-02-29 17:20] eduardmartinez opened #36 "Customize Datepicker Icons"
Hi. First at all, thank you so much for the job you have done with this package. It has been really useful to me. I'm working in a project using font-awesome icons pack and we don't want to add another pack, so, is there a way to customize DatePicker's icons?

Thanks in advance. :D

[2016-03-01 16:42] rvarbanov opened #37 "Remove the Material Design Icons dependency"
I noticed that the only reason for the Material Design Icons dependency was the left and right chevrons. If you are to replace those with just an SVG or a 2x PNG that should help you remove the dependency.

[2016-03-03 09:11] KelvinOm opened #38 "Open mdPickers in md-dialog"
Hi.

How open picker in dialog window without close it?

[2016-03-04 18:28] dragondgold opened #39 "Clock hands and selector not showing"
I started using mdPickers. I've all the required dependencies, `moment`, `AngularJS`, `Angular Material` and `Material Design Icons`. But when using the time picker I can't see the clock's hands and the small circle that selects the number in the clock when clicked.

I tried it in Chrome 48, Microsoft Edge 25 and Internet Explorer 11. On Edge and Explorer I can see the clock's hands but not the ci

[2016-03-07 13:31] alenaksu commented on #39
Hi, can you replicate the issue on codepen?

[2016-03-07 13:35] #35 closed

[2016-03-07 13:38] alenaksu commented on #36
Material Design Icons dependency will be removed in the next release (#37)

[2016-03-07 18:49] eduardmartinez commented on #36
Thanks. I'll wait for next realease then :D

[2016-03-07 18:49] #36 closed

[2016-03-07 19:59] rvarbanov opened #40 "FF and Safari timepicker input issue"
After selecting the time with the timepicker in Firefox and Safari the input looks like this:
<img width="253" alt="screen shot 2016-03-07 at 2 58 27 pm" src="https://cloud.githubusercontent.com/assets/2780282/13581480/19bfce94-e475-11e5-8894-aa6815fb3ab5.png">

Compared to this in Chrome:
<img width="234" alt="screen shot 2016-03-07 at 2 55 38 pm" src="https://cloud.githubusercontent.com/assets/2

[2016-03-08 10:09] #37 closed

[2016-03-08 10:16] #17 closed

[2016-03-08 10:16] #20 closed

[2016-03-08 10:51] #31 closed

[2016-03-08 11:13] #14 closed

[2016-03-08 14:15] alenaksu commented on #40
Hi, afaik each browser shows it differently.
By the way, in the new version (0.6.0) has been added the ability to specify the format for input[type=text]

Let me know if this feature is what you're looking for

[2016-03-08 14:50] corentin-gautier opened #43 "Feat. : Customize time format on datePicker toolbar"
Current format is fixed to "ddd, MMM DD" which doesn't work for every language

[2016-03-08 14:51] corentin-gautier opened #44 "Feat. : Customize first day of the week"
Add an option to set the first day of the week to something else than sunday

[2016-03-08 14:54] alenaksu commented on #44
Hi,
this should depends on the locale used in moment.js
Have you tried to change it?

[2016-03-08 14:59] corentin-gautier commented on #44
Nope, because you use moment.weekdaysmin which is just the translation of the days ( so it always start on sunday )

[2016-03-08 15:02] alenaksu commented on #44
You're absolutly right! I'll fix it in the next release

[2016-03-08 16:59] Asoseil commented on #38
+1

[2016-03-08 17:34] alenaksu commented on #38
Unfortunately multiple dialogs at time cannot be opened.
Afaik, Material specs for the pickers are Android focused.

Meanwhile I'll look for a solution, any suggestion would be appreciate :)

[2016-03-08 18:48] rvarbanov commented on #38
+1

[2016-03-09 08:02] KelvinOm commented on #38
I know about specs, but datepicker not a dialog:)
What about del «md-dialog» and use something like in Angular Material «md-datepicker-calendar-pane». But u need add show behavior for new block.

[2016-03-09 10:19] Asoseil commented on #38
https://github.com/angular/material/issues/698#issuecomment-89858717

[2016-03-09 10:52] alenaksu commented on #34
Hi,
according to [Material Design Specs](https://www.google.com/design/spec/components/dialogs.html#dialogs-confirmation-dialogs), should remain focused on a single value.

[2016-03-09 11:26] KelvinOm commented on #38
not best usability solution...

[2016-03-09 11:59] alenaksu commented on #38
I've digged a bit into the "Angular Material" source code. There's an undocumented option for $mdDialog, "skipHide". If you set it to True, the mdDialog service doesn't close other dialogs.

But there's an issue when cancelling a dialog [#6912](https://github.com/angular/material/issues/6912)

I think it will work without any problem after Angular Material team will release version 1.0.6.

[2016-03-09 12:23] alenaksu commented on #38
[Here](http://codepen.io/alenaksu/pen/wGGPVZ) is a demo of what I was talking about

[2016-03-09 12:40] KelvinOm commented on #38
thx i try it and we already use 1.0.6 version:)

I found two problems with this approach:
1) Cancel and clickOutsideToClose close first md-dialog...
2) How i can set skipHide for DatePicker md-dialog?

[2016-03-09 12:55] alenaksu commented on #38
As I can see [here](https://github.com/angular/material/releases), current release is 1.0.5

For the issue you mentioned, it's exactly what I was talking about. It was fixed with commit [6d39c21](https://github.com/angular/material/commit/6d39c218a9a4814e12d49d55c55a54d71efaa0d5), but didn't released yet.

[2016-03-09 13:05] KelvinOm commented on #38
I get 1.0.6 from cdn
http://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.min.js
In this fix bug whit md-errors-spacer, critical for me.

thx for great picker! Really looking forward to the next version:)

[2016-03-09 14:50] #44 closed

[2016-03-09 17:14] holly-weisser opened #45 "Close and up/down arrows launch date selector dialog"
I was looking at your demo and I really like the addition of a close/clear option and the up/down arrows.  However, when I click on those options, it also pops the dialog, and when the close/clear icon is clicked, it doesn't seem to actually reset the date.

[2016-03-09 18:27] rvarbanov opened #46 "Why not NPM?"
If there is nothing to stop you from including the repo to NPM, please add it there too.

[2016-03-10 15:19] diana2201 opened #47 "Min/Max date doesn't works in Firefox - Error: self.date is undefined"
When I open the example in CodePen in Opera, it works perfectly, but in Mozilla it seems that doesn't work.
Also when I use the dist in my code, it throws me an error "Error: self.date is undefined", I tried to fix it, adding to mdPickers.js in CalendarCtrl "self.date = moment();", and apparently works, but when I try to change the year, the calendar doesn't show me the correct dates. I attach the

[2016-03-10 15:24] alenaksu commented on #47
Hi
can you create codepen of the issue and tell me which version of Firefox?

[2016-03-10 15:27] vyrak commented on #46
+1

[2016-03-10 16:16] #34 closed

[2016-03-10 17:59] diana2201 commented on #47
Hi,
I'm using the version 45. The error can't be reproduced, in CodePen works, but also I tried use the cdn in my code and I get the error, but now is:

For Firefox:
![captura](https://cloud.githubusercontent.com/assets/9339625/13678940/5267b0f8-e6bf-11e5-9e6a-bc89c804e453.PNG)

For Opera - Chrome
![captura](https://cloud.githubusercontent.com/assets/9339625/13679033/b24b8ef4-e6bf-11e5-9a73-5ad945

[2016-03-11 09:31] alenaksu commented on #47
What version of AngularJS are you using?
Without a pen demonstrating the issue is quite hard

[2016-03-11 19:07] jfreak commented on #47
Had a similar issue with this...updating angular to the latest version resolved it .

[2016-03-11 19:56] alenaksu commented on #47
I think the issue could be related to the **bindToController** property introduced with version 1.4

[2016-03-12 00:55] rexhxiao commented on #32
+1

還有個問題，關於moment非en語系時，這樣比較正常

`
                                    '<div layout="column" class="mdp-timepicker-selected-ampm">' +
                                        '<span ng-click="timepicker.setAM()" ng-class="{ \'active\': timepicker.currentMoment.locale(\'en\').format(\'A\') == \'AM\' }">AM</span>' +
                                        '<span ng-click="timepicker.setPM()" ng-class

[2016-03-13 17:41] #40 closed

[2016-03-13 17:42] #39 closed

[2016-03-13 17:42] alenaksu commented on #39
Close due inactivity

[2016-03-13 17:42] #45 closed

[2016-03-13 17:42] #38 closed

[2016-03-13 17:47] #43 closed

[2016-03-13 17:53] alenaksu commented on #43
Demo will arrive soon after release

[2016-03-14 03:01] tungtouch opened #51 "Change Date for TimePicker"
Hi,

I want change Date for Timepicker.

Help me !
Thanks

[2016-03-14 08:44] alenaksu commented on #51
Hi,
very good question! :)
For now, you can use the services for doing that.  I guess I have to modify the directives to change the original model instead of overwrite it.

[code]

[2016-03-14 11:47] #51 closed

[2016-03-14 11:48] alenaksu commented on #51
Version 0.7.1 solve the issue

[2016-03-14 14:25] narzul1 opened #54 "Issues in IE11 and Edge"
Hi,
The mdPickers doesn't have the same fluidity and takes some time to appear in IE11 than in Chrome and if the date is long, it goes out of the blue box on the left.
On Edge, there is the automatic Edge's "Input Type=Date" calendar that pops out.
Can it be looked at?
Thanks

[2016-03-14 14:31] rvarbanov commented on #38
What is the status of this issue? What are the plans of making the datepicker working in a dialog?

[2016-03-14 14:34] rvarbanov commented on #54
Would you please provide a codepen with the issue?

[2016-03-14 14:38] alenaksu commented on #38
@rvarbanov done in version 0.7.0, but require angular material  >=1.1-rc1

[2016-03-14 14:42] narzul1 commented on #54
You can see it in the codePen you provided : http://codepen.io/alenaksu/full/eNzbrZ
![image](https://cloud.githubusercontent.com/assets/10827217/13748033/0252be3c-e9f3-11e5-8f8a-dd4e728d3bd0.png)

[2016-03-14 14:45] alenaksu commented on #54
Hi,
can you create a codepen demostrating the issue?

[2016-03-14 15:21] rvarbanov commented on #38
@alenaksu it still looks like you are using md-dialog for the datepicker. Are you considering removing the md-dialog?

[2016-03-14 15:39] alenaksu commented on #38
@rvarbanov yes it still using md-dialog, but it shouldn't closes others anymore. I considered to switch away from md-dialog, but maybe later, when everything will work "quite well" :)

[2016-03-14 16:26] rvarbanov commented on #38
http://codepen.io/radi/pen/wGzZKx

When you open a datepicker in a dialog it opens under the first dialog. Please see the codepen.

[2016-03-14 16:54] simonered opened #55 "Why no more 'onclick'?"
Why pickers don't show anymore at click on input elements?

[2016-03-14 16:57] alenaksu commented on #38
@rvarbanov make a try without specify the parent option in the dialog

[2016-03-14 16:58] simonered opened #56 "Optional md-no-float and icon"
_md-no-float_ and icon should be configurable.

[2016-03-14 16:58] alenaksu commented on #55
@simonered directive now have a template, check che changelog and the demo for more details

[2016-03-14 17:03] simonered commented on #55
Yes, I saw....but why do you fire _ng-click_ on icon and not also at input level?

[2016-03-14 17:14] alenaksu commented on #55
Because in some case some people would prefer to have the ability to insert the value by hand.
I can add it as an option for fit your requirements

[2016-03-14 17:15] rvarbanov commented on #38
@alenaksu I am not sure I understand. Would you please elaborate?

[2016-03-14 17:16] alenaksu commented on #38
Look at this http://codepen.io/alenaksu/pen/NNRQrE

[2016-03-14 17:17] simonered commented on #55
Yes, it could be useful. Thank you.

[2016-03-14 17:18] alenaksu commented on #38
@rvarbanov
Look at this http://codepen.io/alenaksu/pen/NNRQrE

[2016-03-14 17:33] rvarbanov commented on #38
That worked.

BTW I just noticed that on smaller screens < 599px in the calendar the dates are misaligned with the week days.

<img width="521" alt="screen shot 2016-03-14 at 1 32 15 pm" src="https://cloud.githubusercontent.com/assets/2780282/13753413/36c9c674-e9e9-11e5-9f78-e6fdfacf7e67.png">

It looks like a simple CSS fix should resolve that issue.
Let me know if you need to create a new issue

[2016-03-14 17:36] alenaksu commented on #38
@rvarbanov
Ouch! Yes please, create a new issue so I'll remember to fix it :D

[2016-03-14 17:39] rvarbanov opened #57 "Dates are misaligned with the weekdays on smaller screens < 599px"
I noticed that on smaller screens < 599px in the calendar the dates are misaligned with the weekdays.

<img width="521" alt="screen shot 2016-03-14 at 1 32 15 pm" src="https://cloud.githubusercontent.com/assets/2780282/13753600/f61d46d6-e9e9-11e5-83c2-874f2fba9519.png">

It looks like a simple CSS fix should resolve that issue.

[2016-03-14 17:48] rvarbanov commented on #38
All set!

[2016-03-14 20:10] rvarbanov opened #58 "Angular Material min req?"
What are the min requirements for Angular Material?

I tried using the mdp-date-picker on 1.0.5 Angular Material and did not work.

Would you please add those to the README.md file?

[2016-03-15 06:14] leocaseiro opened #59 "Restrict to Attribute"
Hi, From the 1.7.0 you switched from A(attribute) to E(element) and I'd like to keep as attribute.

In my scenario. For my layout, I'm using `<md-container> ` with `<label>` and `<input mdp-date-picker>`.

First I was wondering why did you switch and if is there any possibility of keeping both way, like:

`restrict: 'AE'`

Otherwise, would be nice have a way to customize our own template for the d

[2016-03-15 07:16] akashjarad opened #60 "width does not reset according to screen size"
![untitled](https://cloud.githubusercontent.com/assets/5300334/13770283/dfa56d58-eaab-11e5-855e-d9ab20fca25f.png)

this is the view i am getting on desktop view.

[2016-03-15 07:45] #60 closed

[2016-03-15 09:28] alenaksu commented on #47
@diana2201 news?

[2016-03-15 19:15] vyrak opened #61 "Date picker input value does not update after clearing out"
First off, thanks for the awesome pickers.

When I initially select a date, I see the selected date display on the input. When I pick another date, it updates just fine. The problem is after I clear out the date in the input and then try to select a new date, the value stays empty in the input (though the underlying model it's bound to updates).

http://codepen.io/anon/pen/zqoLWe

Additional note,

[2016-03-15 22:44] alenaksu commented on #61
@vyrak Thank you, I'll fix it in the next release

[2016-03-15 22:45] #47 closed

[2016-03-16 11:11] rtvisser opened #62 "Feature: close on-dblclick date"
Usability would improve if ng-dbclick event on date/time would select the date/time value and then close the date/time picker, thus avoiding an extra click to close the dialog.

[2016-03-16 17:02] vyrak opened #63 "No dependency on global moment"
It would be nice to have this work with existing module loaders like requirejs or webpack and not have to install moment globally.

As far as I can tell, https://github.com/urish/angular-moment enables this. Maybe it can be used as a source of inspiration.

[2016-03-16 20:54] vyrak opened #64 "Inconsistent layout between date & time pickers"
The time picker has a scrollbar while the date picker does not. I only noticed it when the view port was short...in the screen grab, it was about 350px high in Chrome.

Note how the time picker's toolbar does *not* expand all the way down the containing element when scrolling. Also, the action buttons in the time picker have a gray border above.

![mdpickers-inconsistent-layout](https://cloud.gith

[2016-03-18 12:50] KelvinOm opened #65 "Chrome bug?"
If clear date with input type="date" control and then select date in mdPicker it not change.
![mdpicker](https://cloud.githubusercontent.com/assets/11555074/13878254/216be704-ed21-11e5-91fd-271f9c8d0b89.gif)

[2016-03-18 13:22] alenaksu commented on #65
Hi,
this is a duplicatole of issue #61

[2016-03-18 13:22] #65 closed

[2016-03-18 16:43] gigablox opened #66 "Deprecation warning: moment construction falls back to js Date."
`min` and `max` both accept string types when they should accept Date type per material spec.

This also appears to be causing some issues with Moment.JS as you can see from the console in your CodePen example.

[2016-03-18 16:50] alenaksu commented on #66
@gigablox The issue you mentioned with moment.js it's just a deprecation warning, resolved in version 0.7.2.

Min and Max will be set up as two-way binding.

[2016-03-18 17:04] KelvinOm opened #67 "mdp-placeholder not work"
Hi, once more.

mdp-placeholder doesn't work anymore with type="date" and after load in place of placeholder we see dd.mm.yyyy.

I try fix this and hope it will be useful for u.

I change code like this:
`'<md-input-container class="md-block">' +`
`    '<label>{{ placeholder }}</label>' +`
`    '<input type="{{ type }}" ng-value="getValue()" aria-label="{{ placeholder }}" />' +`
`'</md-input-conta

[2016-03-18 17:52] gigablox commented on #66
Awesome, yea the min max is currently broken in your example, but I'm glad you're aware of it. Looking forward to 7.2! Great work on this btw.

[2016-03-18 18:05] gigablox opened #68 "required should be configurable rather than attribute only"
`required` attribute should be configurable as a bool rather than as a single attribute declaration.

[code]

for example.

[2016-03-18 18:12] gigablox opened #69 "name should be configurable attribute"
`name` should be configurable for example:

[code]

[2016-03-18 18:20] alenaksu commented on #68
Can you please elaborate?

[2016-03-18 18:32] alenaksu commented on #68
@gigablox Did you try using `ng-required` directive?

[2016-03-19 21:36] jfreak opened #70 "Min Max date in $mdpDatePicker service"
Not able to  set min max date...It always takes the current date!

[2016-03-20 12:17] alenaksu commented on #70
@jfreak can you please provide a codepen of the issue?

[2016-03-22 00:23] jfreak commented on #70
http://codepen.io/jfreak/pen/jqBdyR

[2016-03-22 10:56] alenaksu commented on #70
I think you are confusing the service and the directive..
If you want to use the service, here's the correct syntax
[code]
*minDate* and *maxDate* if set, can be either a iso date string or a date object
*dateFilter* if set, should be a function

[2016-03-22 12:09] #68 closed

[2016-03-22 14:38] #70 closed

[2016-03-22 14:38] jfreak commented on #70
Thanks, It worked..

[2016-03-22 15:41] alenaksu commented on #67
`mdp-no-float` will do the job

[2016-03-22 15:41] #67 closed

[2016-03-22 16:14] #61 closed

[2016-03-22 16:15] #59 closed

[2016-03-22 16:16] #66 closed

[2016-03-22 16:26] #57 closed

[2016-03-22 16:26] alenaksu commented on #56
`mdp-no-float` will do the job

[2016-03-22 16:26] #56 closed

[2016-03-22 16:33] alenaksu commented on #55
@simonered
if `mdp-open-on-focus`is set, the dialog will open when the input gets focus.

[2016-03-22 16:33] #55 closed

[2016-03-22 16:55] simonered commented on #56
I assume `mdp-no-float` will enable/disable label floating....but what about showing/hiding the icon?

[2016-03-22 17:13] alenaksu commented on #56
@simonered if you want to hide the icon you can bind the directive as attribute
[code]

This will open the picker when the input is clicked

[2016-03-22 17:28] alenaksu commented on #69
Name is the property name of the form, it should not change

[2016-03-22 17:28] #69 closed

[2016-03-22 17:33] simonered commented on #56
Cool! Thank you.

[2016-03-23 00:26] DomClaxton opened #72 "Cancelling mdPickers from inside an Angular-material modal closes the modal and not the picker"
If I  use mdPickers inside an angular-material modal and trigger the date picker to open, then close the picker it will close the modal underneath first. I must click 'Cancel' a second time in order to close the picker.
This is not very usable if I'm entering a lot of dates inside the modal because each time I need to cancel a date-picker it will close the underlying modal which I will then have t

[2016-03-23 07:22] alenaksu commented on #72
Hi, take a look at this codepen and tell me if it helpshttp://codepen.io/alenaksu/pen/NNRQrE

[2016-03-24 17:13] alenaksu commented on #72
@DomClaxton any news about the issue?

[2016-03-25 12:50] alenaksu commented on #72
I close the issue. Feel free to reopen if you need support

[2016-03-25 12:50] #72 closed

[2016-03-26 11:16] super-coder commented on #54
+1
was going to use it in the project but IE latency makes it not usable

[2016-03-26 11:24] super-coder commented on #54
i mean did you even open it in IE before releasing?

[2016-03-26 11:45] alenaksu commented on #54
@super-coder could you tell me what version of Windows and Angular Material are you using?

[2016-03-26 11:56] super-coder commented on #54
Windows 8.1, IE 11
I opened an official codepen http://codepen.io/alenaksu/full/eNzbrZ

[2016-03-28 12:02] patapron opened #74 "Error property 'hours' of undefined in angular 1.4.5 and material 0.11.1"
Hi
Sorry for my english.
I've a project with angularJS 1.4.5 , angular-material 0.11.1 and the latest library of momentjs and mdPickers. Durin the installation, I selected the appropiate config.

I injectected     "ngMaterial",  "ngAnimate", "ngAria", "ngMessages", "mdPickers" in my module,
'$scope', '$mdpDatePicker', '$mdpTimePicker' in my controller and mdPicker css and js in my template.

My pr

[2016-03-28 17:04] alenaksu commented on #74
@patapron
Hi,
can you make a try upgrading to Angular 1.4.9?

[2016-03-31 09:09] tirithen commented on #46
:+1: There is an npm package.json already in the repo so there should more or less be npm publish to get it into npm.

[2016-03-31 11:23] tirithen commented on #32
:+1:

[2016-04-01 14:23] alphazhe opened #78 "Support use of date picker in mdDialog"
When I used mdp-date-picker in md-dialog then after clicking cancel button of date picker it closes dialog not date picker. Same thing happens when hit escape button.

[2016-04-01 14:37] alenaksu commented on #78
Hi,
it happens of you set parent property in your dialog.
look this pen and tell me if it helps http://codepen.io/alenaksu/pen/NNRQrE

[2016-04-01 17:15] alexndreazevedo commented on #32
+1

[2016-04-01 22:01] shawmanz32na commented on #78
I'm having this issue, except also in the `mdp-time-picker`. I have not set the parent property on my dialog.

I was able to resolve the issue in the `mdp-date-picker` by setting the `clickOutsideToClose` property to false., but this had no effect on the mdp-time-picker.

Any ideas?

[2016-04-01 23:10] shawmanz32na commented on #78
I was previously running on angular 1.4.8 and angular-material 1.0.6, but updated to angular 1.4.10 and angular-material 1.0.7, and all seems to be well. That little factoid may come in handy?

[2016-04-02 00:37] shawmanz32na opened #79 "Support/docs for using date and time pickers simultaneously"
I can see the need for being able to pick both the time and date. Currently, this sort of works, but is buggy.

I would like to see a demo/docs of using the `mdp-date-picker` and `mdp-time-picker` on the same form on the same model object.

I gave this a shot with the following code, but changing one picker's value would cause the other picker's required message to appear.

[code]

[2016-04-02 05:47] alphazhe commented on #78
@alenaksu  Thanks that helped...:).
@shawmanz32na In my case its working for both date picker and time picker even if `clickOutsideToClose` property is true.

[2016-04-02 10:13] alenaksu commented on #78
@alphazhe @shawmanz32na there was a bug in angular material resolved with commit [6d39c21](https://github.com/angular/material/commit/6d39c218a9a4814e12d49d55c55a54d71efaa0d5)
If I remember correctly it was released after 1.0.6.

[2016-04-02 11:35] alphazhe commented on #78
Yes, I was using 1.0.6 before and after updating to latest 1.0.7 it worked.
@alenaksu  Are you using mdDialog for date time picker ? If yes can I ask you, how you are able to open mdDialog over another one?

[2016-04-02 13:08] ConstantineZarzhytskyy commented on #46
++++++1

[2016-04-02 18:26] alenaksu commented on #78
@alphazhe yes, looking into the Angular Material code, I've found an undocumented property for mdDialog. Its name is *skipHide* and if setted to true, the $mdDialog service will not close other dialogs.

[2016-04-04 07:27] alphazhe commented on #78
@alenaksu Thanks a lot ... it saved my day :)

[2016-04-04 07:27] #78 closed

[2016-04-04 18:21] #74 closed

[2016-04-04 21:08] shawmanz32na commented on #79
I forked the CodePen demo and added code demonstrating the issues I hinted at above: http://codepen.io/shawmanz32na/pen/yOPJZB

To see obvious problems, specifically around `required` validation:
- Click the *Both pickers* time picker clock icon and cancel out of the time picker - One would expect a *This is required* message to appear due to failed validation, but the picker seems hunky-dory ( :d

[2016-04-05 09:16] corentin-gautier opened #83 "Invalid input when using filter function"
As you can see on the codePen demo, the input is invalid when using a filter function.

![image](https://cloud.githubusercontent.com/assets/4660731/14275970/e2b196d6-fb1b-11e5-8b5f-222d7df30253.png)

[2016-04-05 16:50] auronperalta opened #84 "Datepicker not being cleared when model variable is unset"
Hello! I used the following code in my view:

`<mdp-date-picker ng-model="ctrl.date"></mdp-date-picker>`

When I set ctrl.date to 'undefined', the datepicker kept the old date value on the input, but, when I accessed the variable, it had no value. I know the variable is being set to undefined correctly, but how do I reflect this change on the input? Do I have to use another way to reset the datepi

[2016-04-05 18:40] auronperalta commented on #84
I read this issue: https://github.com/alenaksu/mdPickers/issues/61 and, though it might be related, I'm not sure if it's the same problem.

[2016-04-06 15:56] diana2201 commented on #47
Sorry, I had to leave the project for a while, but now I try to use it works great, just update the angular version.
Thanks a lot.

[2016-04-07 09:39] timmyrosen commented on #32
+1

[2016-04-08 14:56] corentin-gautier commented on #54
@super-coder just don't use AM 1.0.6, it has very poor perfs.

[2016-04-09 09:57] qihaiyan opened #85 "form valid problem"
when set the picker to required in a form,and  give the model a initial value in the controller,the picker will display the value, but the form is still invalid. here is a fork of your demo http://codepen.io/HaiYan/pen/ZWvNKy, and the valid is added to the "show picker" button. you can see the value is displayed but the button is still disabled.

[2016-04-12 13:19] matheusJov commented on #84
I'm having the same problem :(

[2016-04-12 15:07] matheusJov commented on #84
this solution solved my problem,
https://github.com/alenaksu/mdPickers/pull/75
thank you @benelliott

[2016-04-13 12:39] Marchrius commented on #85
@alenaksu are you working on this issue? I'm asking only to schedule a fix on my local branch.

[2016-04-13 12:49] alenaksu commented on #85
@Marchrius I've assigned it to the next milestone, but I can't give you a date. I hope in some days I can find the time for fix all the issues and release a new version.

[2016-04-15 07:24] AntoineBouron commented on #32
+1

[2016-04-15 08:00] pratik14 opened #87 "Not able to dynamically add placeholder"

[2016-04-18 20:07] WeHateNick opened #88 "Clearing date does not trigger ng-change()"
#75 allows the input to be cleared, but when I have a date selected and then clear it, ng-change is not triggered.

[2016-04-18 20:12] WeHateNick commented on #88
I also tried watching for changes using $scope.$watch and experienced the same issue

[2016-04-21 14:45] thaod opened #89 "<input> size shouldn't be automatically updated"
The size of <input> tag in Datepicker/Timepicker controls are now updated after we change its value. That causes the length of control is shorten than the initial length. Especially when we clear value in the control.

- Initial length:
![mdp_initial](https://cloud.githubusercontent.com/assets/11632797/14712980/8de610b4-0809-11e6-8f1e-cff0048d4055.png)

- After pick date:
![mdp_with_value](https:/

[2016-04-21 15:02] gigablox opened #90 "Use datepicker without modal"
If I wanted to use the datepicker inside a dropdown menu style for example - would it be possible to add a directive method to render the datepicker inside any container?

[2016-04-21 15:33] thaod commented on #89
I also find that `flex` doesn't work with `mdp-datepicker`. When we add `flex`, `mdp-datepicker` width is expanded but the width of its `md-input-container` stays the same.

[2016-04-21 15:36] thaod commented on #89
Btw if you don't mind, @alenaksu , can I try to work on this issue?

[2016-04-21 18:21] TiagoLeite07 opened #91 "Required error dont work on the time picker"
When i set the time picker as required, the error dont show up.
The form is invalid and the error is there (on the form object) but the error dont show on the html. I think is a problem with the style because the message is generated on the html but the style is not aplied.

[2016-04-21 18:38] rvarbanov commented on #89
@thaod you don't need to ask for permission to work on an issue and submit a PR 😄

[2016-04-23 04:21] AnirudhaGohokar commented on #85
@Marchrius  Thanks for the temporary fix though I think this is still not merged with the master branch..
For now have made a directive to temporarily fix the issue

[code]

[2016-04-23 16:15] corentin-gautier commented on #91
You have to use md-auto-hide="false" on the ng-messages container

[2016-04-24 23:49] 2947721120 opened #94 "中文演示图片"
![image](https://cloud.githubusercontent.com/assets/13098589/14771330/2d1e7060-0aba-11e6-8371-dfdce5dd93a8.png)

[2016-04-28 01:39] leocaseiro opened #95 "bind mdpPlaceholder as '@'"
Hi, I'd like to let my placeholder dynamic, so I can define it on my controller, like so:

[code]

[code]

Is there a way to bind it? Thanks

[2016-04-28 02:00] leocaseiro commented on #95
I've edited the template

 from:
[code]

to
[code]

It works just fine, but I found a bug on Angular Material while try to bind placeholder. It gets duplicate if you don't set `md-no-float`

![material-placeholder-duplicated](https://cloud.githubusercontent.com/assets/940070/14873342/cb3987a0-0d38-11e6-98fb-4b33790324ce.gif)

[2016-05-01 02:37] qihaiyan commented on #8
the function this.setOKButtonLabel is added,but how to use? when i call the function,the error is '$mdpDatePicker.setOKButtonLabel is not a function'.
i use it in es2016 javascript:
constructor($mdDialog, $scope, $resource, $mdpDatePicker) {
        'ngInject';
        $mdpDatePicker.setOKButtonLabel('ok');

[2016-05-01 10:03] corentin-gautier commented on #8
@qihaiyan You have to use the provider

[2016-05-03 09:35] lily93 opened #96 "change language of dates?"
Is there an option to change the language which is used?
I need this datepicker in a different language than english and I could not figure out how to change the months, days etc.

[2016-05-03 09:39] alenaksu commented on #96
Hi @lily93, please take a look at the Moment.js [documentation](http://momentjs.com/docs/#/i18n/) and tell me if it helps.

[2016-05-03 09:44] alenaksu commented on #90
Hi @gigablox, I'm sorry it is not possible at moment. You could try to hack the `mdp-calendar` directive in some way.

[2016-05-03 10:10] lily93 commented on #96
found it - works :)
thank you very much!

[2016-05-03 10:15] #96 closed

[2016-05-03 13:49] gigablox commented on #90
@alenaksu Could we possibly do some investigatory work together and I can put together a PR ?

[2016-05-03 14:06] alenaksu commented on #90
@gigablox ok, this is the `mdp-calendar`, it seems to work quite well without the modal, but it lacks the year selector.
http://codepen.io/alenaksu/pen/wGGPVZ

[2016-05-09 19:33] #84 closed

[2016-05-09 19:50] #89 closed

[2016-05-09 20:21] #85 closed

[2016-05-09 20:26] #88 closed

[2016-05-09 21:00] #83 closed

[2016-05-10 02:23] tehabstract opened #99 "mdp-datepicker inside mdDialog - Close button"
I know that nesting mdDialog is not supported, but I tried it and it worked, only I had a problem with closing the mdp-datepicker, since the close button would close the first dialog opened. So I fixed with editing 132 line of code and giving it an confirm with no arguments. I leave up to you to think about adding it ... Anyways good work, starred!

Edit: Just found out it resets my model, but nvm

[2016-05-10 16:25] alenaksu commented on #99
@tehabstract please take a look here and tell me if it helps
https://github.com/alenaksu/mdPickers/issues/72

[2016-05-10 17:49] jfelixalba opened #100 "ng-invalid-required attribute is set at the beginnig even when it has value"
Hi,

I need your help to solve a problem that I have with the mdp-date-picker, I set a default date (current) in my model, and when the page is loaded, the attribute ng-invalid-required always is assigned to the element, setting a wrong attribute to my input, these reasons cause that my form cannot be submitted.

I attach my code.

**HTML:**
`<mdp-date-picker name="inicio" ng-required="true" ng-mo

[2016-05-10 18:04] jfelixalba commented on #100
I've found the solution in the issue [https://github.com/alenaksu/mdPickers/issues/85](url)

[2016-05-10 18:04] #100 closed

[2016-05-11 13:07] landrysoules opened #101 "date/time pickers are always required"
Even if date/time pickers are not declared as required, they behave as though.
It can be observed on official [codepen](http://codepen.io/alenaksu/pen/eNzbrZ?editors=1010) : try to delete date or time from any field, the underline will color in red.

[2016-05-11 13:39] #101 closed

[2016-05-11 22:04] shawmanz32na commented on #32
:+1:

[2016-05-11 23:53] shawmanz32na opened #103 "mdpTimePicker#updateTime called many times when up/down arrows clicked"
This title is sort of confusing, but I'll try to talk it through here.

mdPickers uses a `<input type="time">` field to display the currently selected time. In most browsers, this will display with the time and both up and down arrows to the right of the displayed time, as shown below. Clicking one of these arrows will cause the time to increment or decrement.

![time input arrows](https://cloud.g

[2016-05-12 16:24] dmopuri opened #104 "Required attribute prevents Invalid Format message"
https://codepen.io/anon/pen/LNvPVL

If we have required attribute and tried to enter any invalid date then it is always throwing "This is required" error instead of "Invalid Format"

This issue applies for both date and time pickers and this is happening only for "Invalid format" not for min and max errors

[2016-05-12 17:04] shawmanz32na commented on #103
I've confirmed that this is also an issue with the `mdpDatePicker`

[2016-05-12 17:17] shawmanz32na opened #105 "Add UTC support"
We'd like the ability to have the pickers view all selected date/times in UTC instead of the local time.

[2016-05-12 17:20] shawmanz32na opened #106 "Add Unit Tests"
While working on #105, I'd like to make some tests for the date validation options to test all the edge cases for validation. However, without any unit testing built into the gulp build, I'm at a severe disadvantage when it comes to testing all the validation edge cases.

If we could get some unit tests for existing code, it'd make it very easy for me to enhance the existing test suite with the ne

[2016-05-13 06:01] rafaelhc commented on #62
Has there been any update to this suggested improvement?

[2016-05-13 13:49] BenArunski commented on #104
+1

[2016-05-13 14:03] #104 closed

[2016-05-13 17:56] dmopuri commented on #104
@alenaksu Thank You for fixing the bug real quick!

[2016-05-13 18:07] dmopuri opened #109 "Enhancement: mdp-format attribute prevents masking the date and time, can you add this feature"
If we have customized date or time format, then it is allowing to enter free text and not providing mask option, it would be great if we have mask option for all formats

[2016-05-14 09:49] sheikhbarkat opened #110 "$mdpTimePicker some time watch click is not working."
Hi,
I'm implement mdptimepicker in my website, but i am facing issue ,  timepicker sometime is not working,  time between 6 to 3 is not clickable or not drag able, it reset default 6 . it happens sometime.

--------------------------------- Angular ------------------------
    < div style="margin:15px 0px" >
               < label >SET TIME< /label >
                         < div class="form-grou

[2016-05-14 11:18] alenaksu commented on #110
Hi @sheikhbarkat, can you provide a codepen of the issue?

[2016-05-14 11:36] #79 closed

[2016-05-16 11:17] bcliao opened #111 "Required message not shown when clicks 'x' in timepicker if the value is delayed set"
Hi,
I am using mdPickers in our project with the time value is initialized from backend service via AJAX. My timePicker does not have 'mdp-format' attribute so it is rendered as 'time' input element with "x" icon in Chrome.  I found when I first time click 'x', the value is cleared but the required message does not show. If I select another time then click 'x' again the required message starts to

[2016-05-16 11:41] alenaksu commented on #109
Hi @dmopuri, I think this could be a very good enhancement :)

[2016-05-16 20:37] dmopuri commented on #109
Thank You @alenaksu for adding it to your Backlog list!

[2016-05-16 20:48] webservconsultant commented on #62
Modified below statement

[code]

to

[code]

seems to be working :-)

[2016-05-18 15:32] pedromarce opened #112 "Formatter wrong operand to process JSON dates"
Hi,

 When trying to assign JSON dates to ng-model value of a mdDatePicker, it doesn't seem to be working. I could find a formatter that I think is trying to achieve this functionality, but it looks wrong.

Currently it stands as
`ngModel.$formatters.unshift(function(value) {
                    var date = angular.isDate(value) && moment(value);
                    if(date && date.isValid())

[2016-05-18 16:00] alenaksu commented on #112
Hi @pedromarce, you should use a Date object in your model

[2016-05-18 16:07] pedromarce commented on #112
Hi,

I understand that if I use a Date object in my model, then it would work, but I am fetching all my model by a rest call, and would like to avoid having to convert every date in every possible model into a Date object.
Besides, what is the purpose of the call to moment(value) in the formatter as it stands right now? If value is already a date we don't need moment (and it is being executed), if

[2016-05-18 16:13] alenaksu commented on #112
Because a Date object could be also an invalid date object
for example

[code]

[2016-05-18 16:18] pedromarce commented on #112
I see, that makes sense, but in that case, wouldn't that code be redundant? And with only moment(value) would achieve same functionality?

That would also solve my use case where I need to use the ng-model with an ISO 8601 date?

Or do you think that would have undesired side effects?

Cheers,

[2016-05-19 21:57] jbthomps opened #114 "Timepicker irregularities around 12:00 AM"
http://codepen.io/anon/pen/zqVdRM

Starting from here, if you change the time to after 12:00 AM, and then press ok, you'll increment the day forward at least 1 day.  If you switch back between 11 PM and 12 AM multiple times, you'll increment it multiple days instead.

In the setTime function in the ClockCtrl, if you add
`if(time === 24) time = 0;`
after
`if(self.time.format("A") == "PM") time += 1

[2016-05-20 18:46] shawmanz32na commented on #105
PR #107 adds this feature.

[2016-05-25 06:51] wxjzeke opened #115 "mdp-date-picker used as element attribute, format is not working"
[code]
###### scope.dateFormat & scope.format, should the problem

[2016-05-26 02:27] rcevs opened #117 "Linked datepickers"
Hi. I was wondering if there's a way to update a second picker when you select a date. Specifically I need to set a second datepicker exactly a year after the value of the first one. Thanks a lot!

[2016-05-26 12:02] rajeshsricharan commented on #110
Hi @alenaksu ,
I'm also facing the same issue.
![mdptp](https://cloud.githubusercontent.com/assets/15145745/15573895/cd5c5dce-2367-11e6-94c9-279a20716aca.gif)

[2016-05-26 12:04] alenaksu commented on #110
Hi @rajeshsricharan, can you provide a codepen of the issue?

[2016-05-26 12:16] rajeshsricharan commented on #110
Hi @alenaksu , Its working in codepen but its not working in my project.
I'm thinking the issue is with the versions of momentjs and angular-material.
can you please suggest me the required versions ?

[2016-05-27 19:32] pabramowitsch commented on #99
Thanks for the fix tehabstract,  If you're already in a popup you'd probably also want to put
`clickOutsideToClose : false,`     at around line 181 where the popup is defined.
As set to `true` If you click outside the date dialog it will close the underlying dialog first.

[2016-05-28 09:43] rajeshsricharan commented on #110
@alenaksu Angular messages was missing in my project. Installed messages and everything works fine now. Thanks for your time.

@sheikhbarkat can you please check whether all the dependencies are installed correctly? Thanks.

[2016-05-28 11:09] sheikhbarkat commented on #110
How to install Angular messages?

[2016-05-30 17:42] gabrieldevelops commented on #117
One solution that can be added to a new version:

In CalendarCtrl :
-  create new variable:
     self.displayFormat = $scope.$parent.datepicker.displayFormat;
- in method this.isDayEnabled, switch to:
      this.isDayEnabled = function (day) {
         var minDate = this.minDate ? moment(this.minDate.format(self.displayFormat), self.displayFormat, true) : this.minDate;
         var maxDate = this.

[2016-05-30 17:56] rcevs commented on #117
Hi Gabriel. I just tried your solution, but it wasn't quite what I was looking for. Thanks anyway!

[2016-05-31 12:33] WedgeSama commented on #115
I have the same issue. I test the PR #116 proposed @FreemanRider and it seems fix the bug.

[2016-06-01 13:57] mysticman opened #119 "Add date range option"
Please provide a date range selection something like
[http://bootstrap-datepicker.readthedocs.io/en/latest/markup.html#date-range]

[2016-06-01 14:16] #94 closed

[2016-06-01 14:18] #110 closed, assigned to nobody

[2016-06-02 11:33] BMartinos commented on #87
+1
EDIT --------------------
You can add a dynamic placeholder label by explicitly setting it within in the directive element:

[code]

[2016-06-03 06:25] akashjarad commented on #119
[http://www.daterangepicker.com/#examples] is more helpful than  [http://bootstrap-datepicker.readthedocs.io/en/latest/markup.html#date-range]

[2016-06-03 06:27] mysticman commented on #119
Agree it would be nice this feature

[2016-06-03 15:30] mribichich opened #120 "Css rule .mdp-calendar-days .md-button should have !important"
Hi there, I'm using v0.7.5 and angular material v1.1.0-rc4

I'm having a weird look on the calendar, since angular material has a css rule like this:

[code]

Because of that rule the circle for the days looks bad.

![image](https://cloud.githubusercontent.com/assets/5748554/15783999/ea7c7892-2986-11e6-8634-735986198a43.png)

But adding `!important` to your css rule, would fix it.

before:

[code]

[2016-06-03 17:42] ghost commented on #32
+1

[2016-06-05 01:26] mick050 commented on #85
Trying to contact alenaksu regarding consulting work on the mdPickers.  If anyone knows how to get in touch with him, please ask him to e-Mail me at mcarlson@omniticket.com

[2016-06-05 01:28] mick050 opened #121 "Trying to contact alenaksu"
Please contact mcarlson@omniticket.com regarding consulting work.

[2016-06-07 07:44] alenaksu commented on #121
@mick050 I sent you an email

[2016-06-07 07:44] #121 closed, assigned to nobody

[2016-06-07 07:53] alenaksu commented on #117
Hi @rcevs, you can do it using the $mdpDatePicker service.

[code]

[2016-06-08 17:59] rcevs commented on #117
Thanks @alenaksu! Your solution works fine. Unfortunately I would prefer not to trigger the second date picker and update the field automatically (without the need of the user's intervention).

I tried assigning the yearPlusOne variable directly to the second date model but this doesn't update the field's $viewValue nor the $valid property, and as the field is "required", it doesn't allow the form

[2016-06-14 11:37] marcomafessolli opened #122 "mdp-time-picker doesn't show ng-message when touched"
`mdp-time-picker` doens't show ng-message when the input is touched. Seems that the atributes `margin-top: -100px` and `opacity: 0` doesn't change after the input is touched.

Here's a codepen:
http://codepen.io/marcomafessolli/pen/NrNExK

Tested on Chrome 51.0.2704.84 (64-bit)

[2016-06-16 11:09] Nagarajtech opened #124 "Avoid mobile keyboard popup while selecting date"
Is there any way to avoid keyboard popup in mobile

[2016-06-16 15:50] guillaume-fr opened #125 "IE11, dialog width incorrect"
![2016-06-16 1](https://cloud.githubusercontent.com/assets/6840401/16123100/0f87f82e-33ea-11e6-9920-3242cc0be69f.png)
Using IE11, when I open the timepicker, the dialog width is too small and the picker is always displayed in one column. Height is also too small to properly display it so there is a scrollbar.

If I reduce the width of the browser the regular one column picker works fine
![2016-06-

[2016-06-17 09:26] AnirudhaGohokar opened #126 "year picker doesn't show all years for very old date"
Hi,

Select a very old date say 1900. Then try to change the year. You will see that only a limited set of years are shown. In my case its showing till 1908.

[2016-06-17 09:36] AnirudhaGohokar commented on #126
My bad..Well this happening for all years.. if you scroll rapidly.

[2016-06-17 09:41] alenaksu commented on #117
@rcevs Can you please provide a codepen of the issue?

[2016-06-17 11:38] AnirudhaGohokar commented on #126
Seems like the issue is with `getLength` of  `md-virtual-repeat`. Material docs says that for infinite scroll behavior, we always return a slightly higher number than the previously loaded items. I think its being set to less then the previously loaded items count ...

Edit:
This dirty fix seems to be working good even with max-date.

[code]

[2016-06-21 17:35] marcomafessolli commented on #95
Seems that the problem with duplicate placeholder from Angular Material has been solved at `1.1.0-rc.5` version. I tested here and works fine. If you want I could provide a pull request changing the `mdpDatePicker` and updating angular material dependency at `bower.json`

[2016-06-22 01:25] leocaseiro commented on #95
Hi @marcomafessolli, thanks for that.

That would be awesome.

[2016-06-22 10:02] marchrius commented on #99
You can use `skipHide: true` on parent $mdDialog to skip the hide event and close manually.

Reference: [Angular Material Issue 7262](https://github.com/angular/material/issues/7262)

[2016-06-22 11:19] marcomafessolli commented on #95
@leocaseiro I've created a pull request. Check it out: [#127](https://github.com/alenaksu/mdPickers/pull/127)

Maybe this isn't going to be merged because it depends of a `release candidate` version of Angular Material. So, until then, you can download via bower from my forked repo using `bower install marcomafessolli/mdPickers`

[2016-06-22 12:59] marchrius commented on #32
I've added an initial support for 12/24h time. See PR #86

[2016-06-22 23:47] leocaseiro commented on #95
Thanks for that @marcomafessolli.
I think that should be merged with the next Material release. But yeah, I can definitely use for the time being.

[2016-06-23 10:41] albertonaperijr commented on #124
If you're triggering it from an `input` element, just add `readonly="true"` as attribute to it.

**E.g.**

`<input type="text" readonly="true" ng-model="currentDate" />`

Hope this helps.

[2016-06-24 09:50] Nagarajtech commented on #124
Thanks for your reply

but i am using like this

[code]

Any solution for this

[2016-06-27 13:37] ankita120892 opened #128 "MdPickers 0.7.4 Issue"
Getting {{ calendar.date.format("MMMM YYYY") }} while using mdDatePicker. mdTimePicker isn't working either. Debugged the issue, scope is getting lost somehwere in between. Can you please help with the issue?

[2016-06-27 14:00] ankita120892 commented on #47
I have the exactly same problem. Updated the angular version to 1.5.7. Still getting the same error. Please help.

[2016-06-27 14:05] alenaksu commented on #47
@ankita120892 Can you replicate the issue on codepen?

[2016-06-27 14:06] alenaksu commented on #128
@ankita120892 Can you provide a codepen of the issue?

[2016-06-27 16:10] ankita120892 commented on #47
![image](https://cloud.githubusercontent.com/assets/20168056/16386825/c65550f6-3caf-11e6-8cfe-2510001f3d3a.png)

[2016-06-27 16:18] alenaksu commented on #47
@ankita120892 I'm sorry but without a codepen I can't figure out where the problem is.

[2016-06-28 06:06] ankita120892 commented on #128
It works fine in codepen but throws this error when I use it in my project.

[2016-06-28 06:25] NamasivayamRaja opened #129 "mdpDatePicker doesn't show full year when give min and max range for years"
it show the limited year when custom min date and max date

`<mdp-date-picker name="PassportExpiryDate" mdp-min-date="minDate" mdp-format="DD/MM/YYYY" mdp-open-on-click mdp-max-date="maxdate" data-ng-model="PassportExpDate">
                                    </mdp-date-picker>`

   `var date= new Date();`
`$scope.mindate=date;`
       `$scope.maxdate = (date.getFullYear() + 20) + '-' + (date.get

[2016-06-28 12:10] alenaksu commented on #128
@ankita120892 What version of Angular are you using?
Did you add Moment.js library to your project?

[2016-06-28 13:49] ankita120892 commented on #128
Yes, I did. I'm using angular 1.4.8 and moment 2.11.0

[2016-06-29 10:47] #129 closed, assigned to nobody

[2016-07-01 05:00] ankita120892 commented on #128
Hey. I'm using Angular 1.4.3 which comes with ionic 1.1.0. And it looks like version problem only. I cant update the angular version as it is built in with ionic. Is there any other solution?

[2016-07-05 09:39] TiagoLeite07 opened #131 "Add last version to npm"
Can you add the last version (0.7.5 or 0.7.4) to npm please?

Thank you^^

[2016-07-06 09:11] chorsnell opened #132 "Remove bloat for non md-datepicker styles?"
Is there a way to get the styles specific to the datepicker without all the guff that comes with the rest of the angular-material framework?

Obviously various parts such as md-datepicker, md-dialog, and some of the scaffolding will be required, but theres 20k+ lines of code in there which is an incredible bloat for just the datepicker bits.

Also a load of the base styles are effected when puttin

[2016-07-06 09:13] jcjmcclean commented on #132
+1

[2016-07-12 23:28] Laazarus commented on #24
Hello there ,

Thanks for your directive that i find amazing, I have a similar problem with the style but only for the date picker (not for the time picker). My problem is that when the pop up of the date picker get visible at the beginning the button OK and Cancel do not appear immediately but just after a couple of seconds and when they do they push all the content up cutting off the Month and t

[2016-07-13 17:17] dmopuri commented on #109
Hi @alenaksu, if we work on this enhancement, can you merge our pull request to the master code?

Thanks!

[2016-07-13 18:33] atinybeardedman opened #133 "Add Min and Max timepicker options"
A feature for adding the standard min and max (and ng-min and ng-max) properties to the rendered input element on the timepicker would be great.

[2016-07-14 09:59] w2w-minjer opened #134 "Make the icons configurable"
Hi,

i wanted to display another icon for our control but noticed that the icon isn't configurable. I'v seen the issues #36 #56 and both are resolved by removing the dependency.

However, i want to use another icon, one that sits in the material icons which i have as an dependency.

I tried to fix this by making the icons configurable. See pull request: #135

[2016-07-15 10:56] #117 closed, assigned to nobody

[2016-07-15 10:59] alenaksu commented on #99
I close the issue. Feel free to reopen if you need support

[2016-07-15 10:59] #99 closed

[2016-07-20 09:20] Jenny888 commented on #131
+ 1

[2016-07-20 09:21] eugene88888 commented on #131
+++1

[2016-07-22 17:03] bcliao opened #138 "Making meridiem string (AM/PM) configurable in time picker"
It seems 'AM' 'PM' is hard coded in time picker. Could you make it configurable, like the labels for OK and Cancel button? We need to configure them for different languages. Thank you!

[2016-07-25 08:03] anymos commented on #124
edit the template everywhere you find <input change it by <input readonly="true"

A bit sad that it s not possible to set it as ng-readonly from the directive it self, but I guess it s life ;-)

[2016-07-25 11:45] danieloprado commented on #32
+1

[2016-07-27 20:23] KingBright opened #139 "How could I use a filter along with date input?"
As far as I know, I can use the date filter within the 'mdp-date-picker' tag.
I wonder if I can use the date filter with the '$mdpDatePicker' service or with a date type input.

[2016-07-27 21:37] #139 closed, assigned to nobody

[2016-07-27 21:41] KingBright commented on #139
Just find the resolution [issue 51](https://github.com/alenaksu/mdPickers/issues/51)

[2016-08-03 19:54] ANIRUDH190 commented on #133
+1

[2016-08-08 18:39] instantaphex commented on #126
This fixed it for me as well.  Maybe you @AnirudhaGohokar can make this a pull request?

[2016-08-09 18:35] dmopuri opened #140 "Dates are not aligned properly in the date picker when the browser is narrowed down or in the small mobile screens"
![image](https://cloud.githubusercontent.com/assets/7999096/17528674/f71f329a-5e35-11e6-821f-a25877b002d1.png)

2 digit dates are getting cropped when we reduce the width of the browser and this happens in small mobile devices too

[2016-08-09 18:40] dmopuri opened #141 "Required validation error message appearing by loading of the page in IE browser"
"This is required" validation message appears by loading of the page, even though users didn't started typing any input. This is just happening in IE browser. When we have a placeholder attribute to a date picker it is triggering input event and performing required validation.

[2016-08-09 18:45] dmopuri opened #142 "IE browser issue: Time and AM/PM selectors are cropped in the left hand panel in the time picker"
![image](https://cloud.githubusercontent.com/assets/7999096/17529030/5a08069c-5e37-11e6-8893-b662e2d992a7.png)

Time, AM/ PM selectors are cropped out in IE, minutes is not appearing so user can not view or select minutes selector. This is happening because of the width of the dialog.

[2016-08-09 19:17] #140 closed, assigned to nobody

[2016-08-10 23:24] DominicGaribaldi commented on #138
+1

[2016-08-15 15:09] drcampbell opened #146 "mdp-time-picker resets to 6 position when included on a second form within a view."
When the mdp-time-picker is used on a page that contains multiple forms, and is not included within the first form but a second or n position form, the time select resets to the 6 o clock position when any input is received.

[2016-08-18 19:18] nebulr commented on #131
+1

[2016-08-23 17:22] BenArunski commented on #142
+1  @alenaksu are you planning to continue support of this project, or to hand it off?  Our team has found it really useful!

[2016-08-25 16:54] lwj5 opened #149 "year selection obscure, link year selection from header"
It is not obvious to the user that clicking on 2005 on the left (green circle) will bring up the year selection. Is it possible to add a link to year selection on the header with the month and year (red box) as most of the other datepickers do, it's more intuitive.

![screen shot 2016-08-26 at 12 49 58 am](https://cloud.githubusercontent.com/assets/16207788/17978157/46bdd2fe-6b27-11e6-9ee0-aa379cc

[2016-08-26 22:12] danielso2007 commented on #141
+1

[2016-08-26 22:35] danielso2007 commented on #141
In "mdPickers.js" file, called the method "function updateDate (date) {..."
Line:
`module.directive ( "mdpDatePicker" ....`

It will be temporary, until the bug is fixed.

Example:

[code]

[2016-08-30 09:18] ghost opened #150 "options.displayFormat is overridden, thus not applying"
When calling the mdPicker service, you can give it a `displayFormat` parameter which allows the date on the side of the calendar to be changed.

But no matter the value, it's overridden by a constant in the code, in the DatePicker file at line 119 :

[code]

A function `setDisplayFormat` exists but is never called though.

[2016-08-30 09:24] ghost commented on #150
I'm sorry I just discovered I do could attach files. Here is the code :

![mdpicker_error](https://cloud.githubusercontent.com/assets/7789922/18083649/507f5fe4-6ea4-11e6-99b5-7b6bc2adc055.png)

[2016-08-30 18:03] dpoetzsch commented on #32
+1

[2016-08-31 05:39] akashjarad commented on #119
any progress on this feature?

[2016-08-31 12:52] BkSouX commented on #8
Hi @corentin-gautier , how to do that ?
Can't find the function when doing

`$mdpDatePicker.setCancelButtonLabel('Just a text');`

TypeError: $mdpDatePicker.setCancelButtonLabel is not a function

Bruno

[2016-08-31 12:57] corentin-gautier commented on #8
@BkSouX just like I said :) Use the provider :

[code]

You have to do that in the config phase since it's a provider ;)

[2016-08-31 13:04] BkSouX commented on #8
great thank you ;)

[2016-08-31 13:17] BkSouX commented on #150
Hi @trichetriche , you have to configure the provider in the config phase like this

`.config(($mdpDatePickerProvider) => {
    'ngInject';
    $mdpDatePickerProvider.setDisplayFormat('DD/MM/YYYY');
  })
`

(im using es6)

[2016-09-06 21:47] shawmanz32na commented on #105
@alenaksu Is there any chance you could find some time to try and give this repo a little attention? There are quite a few pull requests waiting, and there's been no maintainer activity here in >4 months. If you no longer have time to maintain this, can you please suggest one of the forks or appoint a new maintainer?

[2016-09-08 08:16] ghost commented on #150
Hi @BkSouX , I have already done that. It is not working because of that line that overrides whatever format I give. As I said, a `setDisplayFormat` method is available but never called. Thus, the `DISPLAY_FORMAT` constant is always the same value, and so overrides the format you give as parameter.

[2016-09-13 17:12] ricardovicenteagoraplus commented on #32
+1

[2016-09-15 19:03] taos-thiagoaos commented on #112
And with my attr date is a moment object?
could you check first with ngModel already is moment because angular.isDate(moment()) is false.

[2016-09-16 16:46] j-hogue commented on #54
We use your control and really enjoy the way it works with Chrome. We would like to see this control work under Edge as well, many issues prevent us from using this control with Edge and IE 11.

`Microsoft Edge 38.14393.0.0`

[2016-09-24 05:05] aditcmarix opened #151 "Add .scss file for css"
Hello

Can you please add the .scss file for css tempting?

Also can you add them to the bower component?

I am able to convert the css directly from http://sebastianpontow.de/css2compass/ link and the styling is working fine for me.

[2016-10-11 04:51] benreibriongos opened #152 "No callback on Calendar Close"
Can we add a attribute that will handle the the value of selected date on mdp-close. This function will return the value like on Angular Material md-select("md-on-close" attribute)

[2016-10-11 05:20] #152 closed, assigned to nobody

[2016-10-13 10:43] ranostaj-work opened #153 "NPM module throws ReferenceError: moment is not defined"
When working with npm package  there seems to be moment dependency missing

[code]

[2016-10-19 09:42] dekhanov-vladislav-yumasoft commented on #133
Is this rep alive yet? I don't see any activities last time here and important features (such as 12/24-h mode and min/max validation) are not implemented.

[2016-10-19 17:02] jrcollins4 opened #154 "mdp-placeholder does not except interpolated values"
I am generating forms dynamically, and I am trying pass in an expression into the mdp-placeholder attribute:

`<mdp-time-picker mdp-placeholder="{{input.label}}" ng-model="input.value"></mdp-time-picker>`

This is not getting picked up and results in an empty placeholder.

[2016-10-20 16:57] eh-am opened #155 "Limit minutes to multiples of five"
Is there an easy way to do it?

[2016-10-25 09:02] gnczoli-zz opened #157 "AM PM custom labels"
In want to use time picker AM/PM labels in hungarian (DE/DU). Is possible to provide setAMLabel, setPMLabel functions (like setOKButtonLabel, setCancelButtonLabel)?

thnx

[2016-10-25 13:20] EskeN opened #158 "mdpTimePicker with custom mdp-format Text input cursor jumping"
just go on the demo page http://codepen.io/anon/pen/yawKZZ and try to edit time.

[2016-10-25 13:37] EskeN commented on #158
#159 pull req with fix

[2016-10-27 21:35] danielfscastro opened #161 "Mask on keyup?"
Can we put a mask on keyup?

[2016-11-01 09:08] KelvinOm opened #162 "When set required attr input has no «*»"
Hi,

Please add to input in directive «required» attr, this will allow it to look like all required inputs in AM
with «*».

Thanks!

[2016-11-04 07:42] benreibriongos opened #163 "Required State still invalid"
I update the ng-model via data-binding of the result of the promise object but the required state never change and still invalid even the model was successfully updated.

This what i got:
`class="md-block` ng-pristine ng-untouched ng-isolate-scope flex ng-empty ng-invalid ng-invalid-required ng-valid-format ng-valid-min-date ng-valid-max-date ng-valid-filter"`

I expect the class below since i alr

[2016-11-09 13:45] mpicciolli commented on #32
+1

[2016-12-03 20:17] Erffun commented on #133
+1

[2016-12-05 14:03] FlorianBurgevin opened #164 "i18n [DISPLAY_FORMAT, LABEL_OK, LABEL_CANCEL]"
Hello,

I want to translate my application dynamically with angular-translate

In provider, we can init "Strings" for DISPLAY_FORMAT,LABEL_OK, LABEL_CANCEL. with
` $mdpDatePickerProvider.setDisplayFormat('DD/MM/YYYY');`

My question is how can I use angular-translate to replace those texts?
The above line is used in .config of my module so I can't call $translate.

Do you have any solution?

Thank

[2016-12-07 12:51] dunice-potapov opened #165 "There is a conflict with Angular Material v1.1.1"
Hello,

I'm trying to install it via Bower and I have an issue
[code]

I'm using Angular Material v1.1.1.

Could you please provide instructions how to resolve it?

Thanks,
Alexander

[2016-12-09 09:22] quentinber commented on #74
If someone else has the problem:
the time picker actually does not work with angular v 1.6.
try downgrading to 1.5 (stable) version to make it works ;)

[2016-12-12 09:28] vidazoo-deployer opened #166 "self.date is undefined"
On mdPickers.js line 241 `self.date.daysInMonth()` is throwing an error.
It seems like `CalendarCtrl` is not getting the values from datepicker (which is the alias of DatePickerCtrl).
I could make it work by adding `self.date = $scope.$parent.datepicker.date` in `CalendarCtrl`.

versions:
angular 1.6.0
angular-material 1.1.0
mdPickers 0.7.5
moment 2.17.1

[2016-12-12 15:15] LouisMazel commented on #166
Sale versions, same issue...

[2016-12-12 17:49] derdrdirk commented on #162
+1

[2016-12-12 20:48] andrea-vega commented on #166
Same issue

[2016-12-14 19:36] andrea-vega commented on #166
I believe the issue is a breaking change angular 1.6 made:
"Disabling (by default) the pre-assignment of bindings on controller instances, which helps with support for native ES6 classes."
https://docs.angularjs.org/guide/migration#migrate1.5to1.6-ng-services-$compile

All the logic that is currently in the constructor for the directive controllers needs to be moved into an $onInit function.

[2016-12-14 20:58] andrea-vega commented on #166
https://github.com/alenaksu/mdPickers/pull/168  Fixes

[2016-12-20 15:25] inaffect-ag opened #169 "Cannot read property 'hours' of undefined"
angular: v.1.6.0
angular-material: v.1.1.1
mdPickers: v.0.7.5

i tried to use `$mdpTimePicker($scope.currentTime)` as a service, but got this error:

    angular.js:14324 TypeError: Cannot read property 'hours' of undefined
    at s.init (mdPickers.min.js:692)
    at new s (mdPickers.min.js:706)
    at Object.invoke (angular.js:4839)
    at $controllerInit (angular.js:10692)
    at nodeLinkFn (ang

[2016-12-20 15:55] #169 closed, assigned to nobody

[2016-12-20 15:55] inaffect-ag commented on #169
problem really was angular v1.6.0
i downgraded and now it works

[2016-12-20 18:00] carauzs commented on #91
+1

[2016-12-20 19:27] iclimb513 opened #170 "-"

[2016-12-21 15:22] dehart commented on #38
@rvarbanov

Angular has changed, skipHide to "multiple"

See here: https://github.com/angular/material/issues/10076

[2016-12-22 11:53] danieloprado commented on #166
same here

[2016-12-24 09:47] SerChirag opened #171 "How do I install"
steps are not clear for a noobie

[2016-12-27 08:59] kilzid commented on #154
I created a PR #172 to allow interpolated values.

[2017-01-03 19:17] nicoco1 opened #174 "24H format"
A feature to configure de timepicker hour format (AM/PM or 24H)

[2017-01-05 23:55] felipegouveiae commented on #166
@danieloprado

I was able to temporary workarround installing the fork :

bower install -f --save https://github.com/andrea-vega/mdPickers.git#7c8f32fac12a01ad66e6728b603dcf8c7e86c0ce

@andrea-vega it worked like a charm. Thanks so much :)

[2017-01-06 14:39] andrea-vega commented on #166
@felipegouveiae great! Glad to help  :)

[2017-01-13 03:47] therickwillis commented on #154
Running into this issue right now.  Please approve this PR!

[2017-01-18 13:10] haris4063 commented on #163
+1

[2017-01-20 18:42] swoofer commented on #162
+1

[2017-01-31 15:45] gabigeo commented on #56
When using it as attribute format does not work.
For example:
mdp-format="DD.MM.YYYY"

In code I see there are two directives, one for element and one for attribute. But only the one for element is using dateFormat.

[2017-02-01 07:25] VWoodin commented on #154
PR #177 addresses this issue. Please approve, seems like a couple folks are having problems with this issue.

[2017-02-06 12:48] norbornen opened #178 "$mdDialog option skipHide"
Hello!

You need replace option 'skipHide' to option ['multiple'](https://material.angularjs.org/latest/api/service/$mdDialog#multiple-dialogs) in $mdDialog constructor.

[2017-02-06 16:21] jbabaei opened #179 "change Culture"
hi friend.

how can i change culture of the datepicker?

i'm going to change culture to 'Jalali'.

[2017-02-08 00:34] archcorsair commented on #163
+1

[2017-02-09 02:00] johnrix opened #180 "String format in ng-model for time picker?"
Is there a way to have the time picker set the ng-model value to the string formatted timestamp, rather than as a JavaScript Date object?

[2017-02-10 17:56] jimwilde commented on #38
@alenaksu
I updated my version to use 'multiple' instead of 'skipHide' and it's working.  Would be good for you to update so this doesn't get overwritten if I have to reinstall my npm dependencies.

[2017-02-14 07:22] ghost commented on #38
@alenaksu

I updated my version to use 'multiple' instead of 'skipHide' and it's not working.. using angular material 1.1.2...please check the attached codepen...we are in production now and it is causing trouble to lot of users please tell the fix to it

http://codepen.io/Prajwal_Jagadish/pen/ygZodj

[2017-02-14 07:34] ghost commented on #178
I updated my version to use 'multiple' instead of 'skipHide' and it's not working.. using angular material 1.1.2...please check the attached codepen...we are in production now and it is causing trouble to lot of users please tell the fix to it

http://codepen.io/Prajwal_Jagadish/pen/ygZodj

[2017-02-14 07:44] LoganDupont commented on #178
This should solve the problem for now
[code]

[2017-02-14 07:49] ghost commented on #178
@LoganDupont can you show it in code pen attached
http://codepen.io/Prajwal_Jagadish/pen/ygZodj

Thank you in advance

[2017-02-14 07:55] LoganDupont commented on #178
@Prajwal8 Here is the [codepen](http://codepen.io/LoganDupont/pen/YNBrgQ)

[2017-02-14 08:03] ghost commented on #178
Thanks a lot @LoganDupont. saved my day.

[2017-02-21 07:21] AnirudhaGohokar opened #181 "max and min date also compares by time"
Hi,

When using mdp-max-date and mpd-min-date, the comparison is being done with time as well.
So, consider this
[code]

will evaluate to false even though the dates match becuase `current date > max date`

A simple change of doing comparison based on date only in `isDayEnabled` function should fix the issue.

[2017-02-21 07:47] AnirudhaGohokar commented on #181
For now I have fixed this issue by stripping out the time in `isDayEnabled` function and it seems to be working good.

[code]

[2017-02-21 14:30] livioalves commented on #32
+1

[2017-02-22 01:22] livioalves commented on #163
+1

[2017-02-22 09:44] mpicciolli commented on #32
Forked project with 24h format : https://github.com/mpicciolli/angular-material-picker

[2017-02-25 05:56] softsara commented on #166
Great Thank you very much.

[2017-02-27 22:45] pmullot commented on #138
+1

[2017-02-28 10:04] chris0203 commented on #74
there was missing a moment object in src.

    var TYPE_HOURS = "hours";
    var TYPE_MINUTES = "minutes";
    var self = this;
    this.STEP_DEG = 360 / 12;
    this.steps = [];
    this.time = moment(); //missing this line

......

after adding this line this.time = moment(); , everything is fine

[2017-03-01 14:21] chacabuk commented on #142
To Fix it modify on CSS file:
this
`.mdp-timepicker .mdp-clock-switch-container{padding:20px;width:309px}`
by this
`.mdp-timepicker .mdp-clock-switch-container{padding:20px;width:459px}`

[2017-03-02 14:32] johnrix opened #184 "Duration picker"
In addition to a time picker, I have a need for a duration picker (for my purposes, just hours and minutes, though it would be generally useful to support all units of measure (years, months, days etc.). I'm pretty happy with the date and time pickers in this library so it would be great to have a consistent UI for duration selection as well.

[2017-03-02 16:38] klapouchy90 opened #185 "Issue with ng-blur directive"
Using ng-change with the picker works as expected, i.e. the function gets called each time when the value changes:
`<mdp-date-picker ng-model="..." ng-change="someFunction()"></mdp-date-picker>`

Although, this event may get called a lot of times, especially when user will start using the arrows, mouse scroll etc. to change the value. So if upon that change I need to make a server request to check

[2017-03-05 14:08] SimonSimCity opened #186 "Can't be used within md-dialog"
Since this library uses the directive `md-dialog` to show the window to choose the date or time from, it's not possible to use it within a dialog. If I try so, my dialog is closed before the date-select or time-select dialog is opened.

[2017-03-05 16:07] LoganDupont commented on #186
Dupe of #178

[2017-03-12 23:47] ernesto-pm opened #187 "MD-pickers not displaying correctly on some resolutions"
Hello I have an issue, when using the mdPickers in a resolution of 1920x1080 the calendar doesn't display correctly and it doesn't allow me to scroll down.

http://prnt.sc/ehzg97

Live site:

http://dev.yourtime.life/app/book -> fill all dates until the select date option

Thank you!

[2017-03-14 07:18] muscaiu commented on #90
I'm looking for the same thing.

[2017-03-16 19:07] jrcollins4 opened #188 "Hide clock icon?"
Any way to hide the icon and just use the input component?  Thanks.

[2017-03-24 10:09] dandanknight commented on #38
@Prajwal8 I've had the same issue. The `multiple` field needs to be in the mdPickers code itself. I previously forked this project to add `skipHide` and fix a validator issue. I've since updated it to use `multiple` instead of skipHide. It works fine for me.

You can find it here...

https://github.com/dandanknight/mdPickers.git#master

[2017-03-27 14:12] PawelOwczarekFalcon commented on #185
I need this feature too

[2017-04-06 21:33] pabramowitsch opened #191 "After upgrade to angularjs 1.6.2 calendar does not render"
On a previously working app, after upgrading angularjs, animate, aria and messages to v1.6.2 the calendar in mdpDatePicker no longer renders.    The mdpPicker is located on another $mdDialog.

The popup opens with the correct date, but displays the unrendered angular reference:
{{ calendar.date.format("MMMM YYYY") }}

followed by blank space

The html:
[code]
I thought it might be an animation iss

[2017-04-11 14:04] mcblum commented on #166
Does anyone know if this fixes the time picker, too? I've got the following error:
[code]

Line 692 is:
`self.selected = self.time.hours() || 0;`

Edit: It appears this is all the same thing. Hoping for an accepted pull request!

[2017-04-12 14:28] christiaanwesterbeek opened #192 "Abandoned?"
@alenaksu @jolafrite @rjnichols Do you still monitor this repo? There are some fine PR's that help make this component better. Maybe I missed an issue or comment that explains the status of this repo.

BTW: "No", is an acceptable answer too. Then we know and can act to transfer ownership to somebody else.

[2017-04-12 14:33] norbornen commented on #192
+1

[2017-04-18 10:12] ajayreddy56 commented on #191
Facing same issue Bro.After upgrading the angular.
How to resolve this @pabramowitsch
Please look into the issue @alenaksu

[2017-04-20 12:23] ajayreddy56 commented on #191
resolve immediately @alenaksu

[2017-05-08 17:20] jazdw commented on #191
@ajayreddy56 that's more than a little rude. Why don't you fix it yourself and submit a pull request.

This is caused by mdPickers using bindings in the constructor, the code should be moved to an $onInit function. In the meantime you can git mdPickers working in AngularJS 1.6.x by setting `$compileProvider.preAssignBindingsEnabled(true);`

[2017-05-08 17:26] jazdw commented on #191
In fact there is already a PR which addresses this issue #168

[2017-05-10 16:45] dpoetzsch commented on #174
duplicate of #32

[2017-05-11 08:19] PawelOwczarekFalcon commented on #192
+1

[2017-05-11 19:00] dpoetzsch commented on #192
I created a fork and merged in a couple of PRs that were important for our project (and added some minor tweaks that we needed): https://github.com/dpoetzsch/mdPickers. As long as no one answers here, I'd be happy to accept your PRs there. If at some point the original repository is revived we could just pull it all in with one big PR.

[2017-05-11 21:16] #187 closed, assigned to nobody

[2017-05-14 09:15] bbjoern commented on #120
+1

[2017-05-14 19:00] christiaanwesterbeek commented on #192
@dpoetzsch Thanks. I'll use your fork next time.

[2017-05-23 16:57] dpoetzsch commented on #192
So I found the time to bring my fork to an acceptable state and release a [version 1.0.0](https://github.com/dpoetzsch/md-pickers/releases/tag/1.0.0) on bower (all changes are listed in the link).

I had to choose a new name on bower: `md-pickers`. See [README](https://github.com/dpoetzsch/md-pickers#using-mdpickers) for installation.

For now this might be an interesting option if you want an act

[2017-05-23 17:06] dpoetzsch commented on #191
I integrated angular 1.6 support in my fork https://github.com/dpoetzsch/md-pickers. See #192 for details on the fork.

[2017-05-23 17:20] dpoetzsch commented on #186
If you want you can use my fork for now https://github.com/dpoetzsch/md-pickers. It has merged pull request #189 which should fix this issue. For details on the fork see #192.

[2017-05-23 17:20] dpoetzsch commented on #178
If you still need this you can use my fork for now https://github.com/dpoetzsch/md-pickers. It has merged pull request #189 which should fix this issue. For details on the fork see #192.

[2017-05-24 20:40] ericodes opened #194 "Numbers on clock face and AM/PM options not appearing in dialog"
hey @dpoetzsch!

I'm using your fork, thanks for creating that.

I'm seeing something odd, where the clock doesn't fully appear.
![image](https://cloud.githubusercontent.com/assets/7111535/26424511/4bedc420-4086-11e7-8c00-7b4141218bd7.png)

Took a quick look in Dev Tools, and looks like `clock.steps` isn't defined.
![image](https://cloud.githubusercontent.com/assets/7111535/26424532/62023b92-4086-

[2017-05-24 22:46] ericodes commented on #194
Nevermind, resolved it!

Was because I had chosen an older (1.4) Angular version with Bower resolutions. `clock.steps` were getting defined in an`this.$onInit` which is from Angular 1.6, so just had to change the resolution.

[2017-05-24 22:46] #194 closed, assigned to nobody

[2017-05-26 09:29] dpoetzsch commented on #194
Happy to hear your issue has been resolved. For the future: If you have an issue with the fork it might be better to open the issue there. We'll probably lose track of the states otherwise

[2017-05-26 11:36] LoganDupont commented on #194
@dpoetzsch Is it normal that we can't find the issue page on a fork?

[2017-05-26 23:09] ericodes commented on #194
Definitely @dpoetzsch! Are you able to turn on the Issues page for your fork? I wasn't able to see the issues tab either. Thanks again for maintaining it!

![screen shot 2017-05-26 at 4 06 58 pm](https://cloud.githubusercontent.com/assets/7111535/26515210/5e4b9f72-422d-11e7-8e10-763543f1517d.png)
![screen shot 2017-05-26 at 4 06 49 pm](https://cloud.githubusercontent.com/assets/7111535/26515213/62

[2017-05-27 22:10] dpoetzsch commented on #194
Thanks for pointing that out @LoganDupont @ericodes I needed to enable issues on the fork for some reason. Should be working now :)

[2017-06-07 05:09] mih-kopylov commented on #153
Hey, @alenaksu, I'd like to have this bug fixed.
Could you please merge my PR and make new release?

[2017-06-07 05:46] mih-kopylov commented on #192
Thanks, @dpoetzsch , I've switched to your fork now

[2017-06-07 08:53] Andreasbaaserud commented on #192
There's another version based on mdPickers at https://github.com/classlinkinc/angular-material-time-picker

[2017-06-07 08:58] mih-kopylov commented on #192
Doesn't look  a fork, may be just new library?

[2017-06-13 01:51] npbenjohnson commented on #192
accessibility is busted AF on https://github.com/classlinkinc/angular-material-time-picker which makes me think it's just styled the same

[2017-07-11 15:09] mpicciolli commented on #192
My version based on mdPickers at https://github.com/mpicciolli/angular-material-picker

[2017-07-12 12:22] dpoetzsch commented on #192
@mpicciolli Any interest in merging our efforts? I too support 24h time format and flexible labels for the dialog. Furthermore, I recently integrated some great pull requests by contributors that make the picker even more configurable and stable. I saw that you also tweaked the CSS a little and fixed some bugs.

[2017-07-13 17:50] jsitu commented on #192
Is there a Angular 2 version for this awesome picker?

[2017-07-14 15:41] dpoetzsch commented on #192
@jsitu There is a discussion in my fork for that: https://github.com/dpoetzsch/md-pickers/issues/19 At the moment I don't know of a port to Angular 2/4, however, I'm interested to give it a try.

[2017-07-15 08:35] ashishyadav23 commented on #110
@sheikhbarkat bower/npm install angular-messages

[2017-07-23 07:05] abhijithkumar-nit commented on #128
@ankita120892 @alenaksu How to fix this issue? I'm using angular v1.6.5 and angular-material v1.1.4. I'm still facing this issue. Please help.

[2017-07-27 12:05] chezih opened #196 "Bower support"
Why there is no Bower installation for this library?

Usually front-end library coming from Bower and back-end (NodeJS) library coming from NPM

[2017-07-27 16:00] johnrix commented on #196
`bower install mdPickers`

[2017-08-24 17:11] JakeLardinois commented on #186
Thanks dpoetzsch!

[2017-11-17 08:10] dziewonski commented on #32
+1

[2017-11-21 05:35] ChaunceyHoover opened #198 "Safari Support"
The field just gets converted to an input[type="time"] field when used on Safari v11, which isn't supported, so it's essentially a text input field.

[2017-11-21 09:44] johnrix commented on #198
Suggest try using https://github.com/dpoetzsch/md-pickers instead, as it is being actively updated, whereas this project appears to be dead.

Also note the following lines in mdpDatePicker.js and mdpTimePicker.js respectively, that govern the input types used for the date and time picker input fields:

            scope.type = scope.dateFormat ? "text" : "date"

            scope.type = scope.time

[2017-12-13 17:59] dustin-lennon opened #199 "Disable future scrolling of months past maxDate"
How do I go about preventing future month selection or scrolling when I have a maxDate set?

Scenario:
I have a maxDate set of '2018/01/25'. I don't want the user to be able to use the arrow or scroll to February.

How would I go about handling that scenario?

[2018-01-04 21:42] kuajia opened #200 "opening a mdp-time-picker cause closing of Md-Dialog where it is located"
I am having  a problem  with a portion of code I wrote... I want to display a dialog which allows the user to modify some hours pamethers. So I used the mdp-time-picker to get and desplay the data. The issue comes when I open the picker, because the open dialog closed immediatly after the picker has displayed.
I tried to use the 'multiple' value, like this :

    $mdDialog.show({
      controller:

[2018-02-01 12:28] Celadora commented on #74
To improve upon @chris0203's answer, if you use:
`
this.time = moment($scope.timepicker.time);
`
then the clock hands are not reset back to the current time whenever the dialog is shown

[2018-02-20 12:37] Celadora commented on #200
The problem occurs because the underlying $mdDialog that is instantiated when mdp-timepicker is built does not have the "multiple: true" option.

The "$mdpTimePicker" provider starts around line 800 in mdPickers.js. Adding the multiple: true option will fix this problem.

[code]

Update:
A (possibly) better solution is to configure mdDialog when your application starts so that the "multiple" argum

[2018-03-16 08:22] SISONKK opened #202 "ng-required is not working with "mdp-date-picker"."
ng-required is not working with "mdp-date-picker". it seems always required when using directive "ng-required". please add this option too since sometimes the date picker will be conditionally required.

[2018-03-16 12:51] johnrix commented on #202
FYI, this feature works on the more recently maintained fork at https://github.com/dpoetzsch/md-pickers/

[2018-03-19 05:05] SISONKK commented on #202
Yes its working.. thanks for the support.